.customer-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    color: black;
    font-weight: 500;
    height: 40px;
    position: relative;
}

img {
    height: 160px;
    width: 300px;
    object-fit: contain;
    filter: drop-shadow(0 0 4px rgba(0, 0, 0, 0.25));
    border-radius: 8px;
  }  

 .nav-links{
    display: flex;
    align-items: center;
    gap: 2rem;
    margin-right: 40px;
 } 

 .home-link, .support-link, .dropdown-toggle{
    color: black;
    text-decoration: none;
    font-size: 20px;
    display: flex;
    align-items: center;
  }
  
  .home-link:hover * {
  color: #3f51b5;
}

  .support-link:hover * {
    color: #3f51b5; 
  }

  .dropdown-toggle:hover{
     color: #3f51b5; 
  }

  .dropdown {
  position: relative;
  cursor: pointer;
}

.dropdown-menu {
  position: absolute;
  right: 0;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.4);
  padding-left: 0px;
  min-width: 150px;
  display: block;
  list-style: none;
  z-index: 1000;
  background-color: #63d3ec88;
}

a{
    color: black; 
    text-decoration: none;
}

.dropdown-menu li {
  padding: 0.5rem 1rem;
  display: flex;
  align-items: center;
}

.dropdown-menu li:hover {
  background-color: #596cd7;
  border-radius: 5px;
}