server:
  port: 8084

spring:
  application:
    name: ratingService
  datasource:
    url: jdbc:h2:mem:ratingdb
    driver-class-name: org.h2.Driver
    username: sa
    password:
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
  h2:
    console:
      enabled: true

  cloud:
    config:
      enabled: false

  sql:
    init:
      mode: always

eureka:
  client:
    enabled: false
#    service-url:
#      defaultZone: http://localhost:8761/eureka/
  instance:
    prefer-ip-address: true