.slogan {
    font-family: 'Segoe UI', 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 40px;
    font-weight: 600;
    margin-bottom: 30px;
    color: #2b2b2b;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
    letter-spacing: 1px;
    animation: fadeIn 1s ease-in-out;
}

.homepage-container{
    margin-left: 85px;
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    justify-content: center;
    position: relative;
    margin-top: 20px;
}

.vehicle-results-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  align-items: center;
  margin: 0 auto;
  padding: 1rem;
}

.no-vehicles-found {
  min-height: 100vh;
  padding-left: 100px;
  margin-top: 50px;
}

.map-container {
  border-radius: 16px;
  overflow: hidden;
  box-shadow: 0 4px 12px rgba(109, 51, 217, 0.338);
  margin-bottom: 2rem;
  width: 70%;
}

.vehicle-list {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.vehicle-card {
  background: whitesmoke;
  border-radius: 12px;
  padding: 1rem 1.5rem;
  box-shadow: 0 4px 12px rgba(109, 51, 217, 0.338);
  transition: transform 0.2s ease;
}

.vehicle-card:hover {
  transform: translateY(-5px);
}

.vehicle-card p {
  margin: 0.25rem 0;
  color: #555;
}

.card-actions{
  display: flex;
  justify-content: space-between;
}

.map-chart-wrapper, .vehicle-list {
    width: 90%;
}

.map-chart-wrapper {
  display: flex;
  gap: 2rem;
  flex-wrap: wrap;
  justify-content: space-between;
}

.chart-container {
  width: 27%;
}

.edit-and-delete {
  gap: 1rem;
  display: flex;
}

.provider-rating {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-size: 18px;
  margin-top: 8px;
  margin-left: 3px;
}

.rating-label, .rating-value {
  font-weight: 500;
  color: #2b2b2b;
}

.rating-stars ::ng-deep .p-rating-icon {
  color: gold;
  transform: scale(1.6);  
}

.rating-stars ::ng-deep .p-rating {
  display: flex;
  gap: 9px;
}

.rating-vehicle-stars ::ng-deep .p-rating-icon {
  color: goldenrod;
}

.stars {
  margin-right: 5px;
}



