<div class="account-type-flex">
    <mat-card class="account-type-card">
      <mat-card-title>Please choose your account type:</mat-card-title>
      <mat-card-content>
        <div class="button-group">
          <button mat-raised-button color="primary" [routerLink]="['/register/private']" type="button">Private</button>
          <button mat-raised-button color="accent" [routerLink]="['/register/business']" type="button">Business</button>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
  